body {
    background: #F5C1A9;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #292B76;
    text-align: center;
}
h2 {
    color: #292B76;
    text-align: center;
}
.skills {
    color: #292B76;
    text-align: center;
}
.projects {
    color: #292B76;
    text-align: center;
}
.contact {
    color: #292B76;
    text-align: center;
}